<%= @username %> now has <%= @total %> followers.

<% [[@lost, 'stopped'], [@gained, 'started']].each do |followers| %>
  <% if followers[0].size > 0 %>
    <p>
      <%= followers[0].size %> users have <%= followers[1] %> following you:
    </p>
    <ul>
      <% followers[0].each do |follower| %>
        <li>
          <%= "#{CONFIG.url}/#{follower}" %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
