<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body style="font-family: sans-serif">

<p style="
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid #ccc;
">
  <%= @username %> has
    <span style="font-weight: bold;"><%= @total %></span>
  followers.
</p>

<% [[@lost, 'stopped'], [@gained, 'started']].each do |follower_set| %>
  <% followers = follower_set[0] %>
  <% action    = follower_set[1] %>

  <% if followers.size > 0 %>
    <p style="
      font-size: 20px;
      background-color: <%= action == 'started' ? '#0b0' : '#b00' %>;
      padding: 10px;
      border-radius: 10px;
      color: #fff;
      text-align: center;
    ">
      <%= followers.size %> users <%= action %> following you.
    </p>

    <% followers.each do |follower| %>
      <div style="
        padding: 10px;
        overflow: hidden;
        border-bottom: 1px solid #ccc;
      ">
        <a href="<%= [
          Followers::TwitterClient.url,
          follower['screen_name']
        ].join('/') %>">

          <img
          src="<%= follower['profile_image_url'] %>"
          width="48"
          height="48"
          style="
            float: left;
            width: 48px;
            padding: 0;
            margin: 0 15px 0 0;
            border-radius: 5px;
          "/>
        </a>
        <div>
          <a
            href="<%= [
              Followers::TwitterClient.url,
              follower['screen_name']
            ].join('/') %>"

            style="
              color: #000;
              text-decoration: none;
              font-size: 18px;
              font-weight: bold;
            ">
            <%= follower['name'] %>
            <span style="
              color: #888;
              font-size: 80%;
              font-weight: normal;
            ">
              @<%= follower['screen_name'] %>
              (<%= follower['followers_count'] %></b> followers)
            </span>
          </a>
          <div style="
            font-size: 90%;
            display: block;
            color: #888;
            font-style: italic;
          ">
            <%= follower['description'] %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

</body>
</html>
